@using PizzaShop.Entity.ViewModels.OrderVM;
@model List<OrderItemVM>;

@if (Model != null)
{
    @foreach (var item in Model)
    {
        var modifierIds = string.Join("-", item.ItemModifier.Select(m => m.Id));
        var itemUniqueId = $"{item.ItemId}-{modifierIds}";
        var collapseId = "collapse" + itemUniqueId;
        var modifierTotalAmount = item.ItemModifier.Sum(s => s.ItemRate);

        <tr id="order-item-@itemUniqueId-tr" data-order-item-id="@item.OrderItemId" data-item-id="@itemUniqueId" data-original-quantity="@item.Quantity">
            <td>
                <div class="accordion" id="givedynamicId">
                    <div class="accordion-item added-item">
                        <div class="accordion-header d-flex flex-row align-items-center" id="heading@itemUniqueId">
                            <div>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                </button>
                            </div>
                            <div class="d-flex flex-row w-100">
                                <p class="mb-0" style="width: 100%;">@item.Name</p>
                            </div>
                        </div>
                        <div id="@collapseId" class="accordion-collapse collapse show" aria-labelledby="heading@itemCardId">
                            <div class="accordion-body">
                                @foreach (var modifier in item.ItemModifier)
                                {
                                    <div class="d-flex flex-row justify-content-between w-75 modifier" data-id="@modifier.Id">
                                        <div>
                                            <span class="me-2">•</span>
                                            <span>@modifier.Name</span>
                                        </div>
                                        <div data-rate="@modifier.ItemRate" class="modifier-@item.ItemId">
                                            <span>&#8377;</span>@modifier.ItemRate
                                        </div>
                                    </div>
                                }
                                <!-- Text area for item instructions -->
                                <textarea class="form-control mt-2" id="instruction-@itemUniqueId" rows="2" placeholder="Enter item instructions here..." asp-for=@item.ItemInstruction></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="input-group input-group-sm d-flex" style="width: 100px;">
                    <button class="btn outline-btn decrement-btn" data-id=@itemUniqueId>-</button>
                    <input type="text" class="form-control text-center" id="quantity-@itemUniqueId" value=@item.Quantity>
                    <input type="number" hidden value=@item.Quantity>
                    <button class="btn outline-btn increment-btn" data-id=@itemUniqueId data-max="@item.MaxQuantity">+</button>
                </div>
            </td>
            <td class="text-center">
                <div>
                    <p class="mb-0"><span>&#8377;</span><span data-rate="@item.ItemPrice"
                            id="item-rate-@itemUniqueId">@item.ItemPrice</span></p>
                    <p class="mb-0"><span>&#8377;</span><span data-rate="@modifierTotalAmount"
                            id="modifier-rate-@itemUniqueId">@modifierTotalAmount</span></p>
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center cancle-item-btn" data-id="@itemUniqueId">
                    <i class="bi bi-trash delete"></i>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">
            <div class="d-flex align-items-center w-100 h-100 justify-content-end fs-6 fw-semibold text-secondary">
                No Data Found
            </div>
        </td>
    </tr>
}
